
:root{
    --white: '#fff',
    --main-100: "#FFE2D6",
    --main-200: "#FFC5AD",
    --main-300: "#FFA883",
    --main-400: "#FF8B5A",
    --main-500: "#FF6E31",
    --main-600: "#CC5827",
    --main-700: "#99421D",
    --main-800: "#662C14",
    --main-900: "#33160A",
}